<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Form Response</title>
  <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #222;
        color: #ddd; /* Light text color */
        padding: 20px;
    }
    .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #333; /* Darker background color */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    label {
        font-weight: bold;
        color: #fff; /* White label color */
    }
  </style>
  </head>
  <body>
    <div class="container">
      <h2>Contact Form Response</h2>
    {% for key, value in form_data.items() %}
        <label for="{{ key }}">{{ key }}:</label>
        <p>
          {{ value | safe}}
        </p>
    {% endfor %}
    </div>
</body>
</html>
